<section class="filter-wrapper">
  <form class="keyword-wrapper">
    <input
      type="text"
      id="keyword"
      placeholder="Search for artists..."
      autofocus
    />
  </form>
  <ul class="filter-select">
    <li class="filter-select-list">
      <p class="artist-name">{{ tag[1] }}</p>

      <span class="tags"></span>
    </li>
    <li class="filter-select-list">
      <p class="artist-name">java</p>

      <span class="tags"></span>
    </li>
    <li class="filter-select-list">
      <p class="artist-name">java</p>

      <span class="tags"></span>
    </li>
    <li class="filter-select-list">
      <p class="artist-name">java</p>

      <span class="tags"></span>
    </li>
  </ul>
</section>
